/* ######### Reset ######### */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, summary, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* ######### Base Layout ######### */

body{
	color:#444;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
}

h1 {
  margin:0 0 15px;
  font-size:33px;
  color:#000;
  font-weight: 300;
  padding-bottom: 10px;
}

h2 {
  margin:0 0 15px;
  font-size:20px;
  color:#000;
}

a {

}

/* Flat Buttons */

button {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 8px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  border: 1px solid transparent;
  background: none;
  color: white;
}

button:hover, button:focus {
  outline: none;
  color: #ffffff;
}

button.default {
  background-color: #bdc3c7;
}
button.default:hover {
  background-color: #cacfd2;
  border-color: #cacfd2;  
}

button.green { background-color: #2ecc71;}
button.green:hover { background-color: #58d68d; border-color: #58d68d;}

button.primary {
  color: #ffffff;
  background-color: #1abc9c;
  border: 1px solid transparent;
}
button.primary:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;  
}


/* Main containers */

.wrapper {
  margin: 50px auto 40px auto;
  max-width: 900px; 
  width: 90%; 
}

@media screen and (max-width: 1024px){
  .wrapper {

  }
}

.status {
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  margin-bottom: 70px;
  padding: .75rem 1.25rem;
}

.status.green {
  background-color: #2fcc66;
  color: white;
}

.status.critical {
  background-color: #e74c3c;
}

.status.minor {
  background: #f1c40f;
}

footer {
  padding-top: .75rem;
  margin: 70px 0;
  border-color: #E0E0E0;
  border-style: solid;
  border-top-width: 1px;
  overflow: hidden;  
}

footer a {
  color: #595959;  
}

footer p {
  color: #AAAAAA;
}